USE [master]
GO
/****** Object:  Database [QuanLyLinhKien]    Script Date: 7/12/2020 8:17:49 AM ******/
CREATE DATABASE [QuanLyLinhKien] ON  PRIMARY 
( NAME = N'QuanLyLinhKien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyLinhKien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyLinhKien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyLinhKien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyLinhKien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyLinhKien]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 7/12/2020 8:17:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [nchar](10) NOT NULL,
	[MaLinhKien] [nchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaLinhKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 7/12/2020 8:17:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [nchar](10) NOT NULL,
	[MaNhanVien] [nchar](10) NOT NULL,
	[MaKhachHang] [nchar](10) NOT NULL,
	[NgayLapHD] [date] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/12/2020 8:17:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nchar](10) NOT NULL,
	[HoTenKH] [nvarchar](max) NOT NULL,
	[SoDienThoaiKH] [varchar](12) NOT NULL,
	[DiaChiKH] [ntext] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LinhKien]    Script Date: 7/12/2020 8:17:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LinhKien](
	[MaLinhKien] [nchar](10) NOT NULL,
	[TenLinhKien] [nvarchar](max) NOT NULL,
	[MoTaLinhKien] [ntext] NULL,
	[DonGia] [float] NOT NULL,
	[LoaiLinhKien] [nvarchar](50) NULL,
	[ThuongHieu] [ntext] NULL,
	[SoLuongTon] [int] NOT NULL,
	[NgayNhap] [date] NULL,
	[BaoHanh] [int] NULL,
 CONSTRAINT [PK_LinhKien] PRIMARY KEY CLUSTERED 
(
	[MaLinhKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/12/2020 8:17:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nchar](10) NOT NULL,
	[HoTenNV] [nvarchar](max) NOT NULL,
	[GioiTinhNV] [nvarchar](10) NULL,
	[NgaySinhNV] [date] NULL,
	[DiaChiNV] [ntext] NULL,
	[SoDienThoaiNV] [varchar](12) NULL,
	[MatKhau] [nchar](50) NOT NULL,
	[QuyenTruyCap] [nchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaLinhKien], [SoLuong]) VALUES (N'17011274  ', N'LK000034  ', 1)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaLinhKien], [SoLuong]) VALUES (N'17011274  ', N'LK000035  ', 1)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaLinhKien], [SoLuong]) VALUES (N'17018273  ', N'LK000014  ', 1)
GO
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNhanVien], [MaKhachHang], [NgayLapHD]) VALUES (N'17011274  ', N'18055671  ', N'19536522  ', CAST(N'2020-07-11' AS Date))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNhanVien], [MaKhachHang], [NgayLapHD]) VALUES (N'17018273  ', N'18055671  ', N'19544818  ', CAST(N'2020-07-12' AS Date))
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaNhanVien], [MaKhachHang], [NgayLapHD]) VALUES (N'17024861  ', N'18055671  ', N'19555671  ', CAST(N'2020-07-12' AS Date))
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKH], [SoDienThoaiKH], [DiaChiKH]) VALUES (N'19502941
', N'Trần Đức
 Huy', N'0866520341
', N'Q3')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKH], [SoDienThoaiKH], [DiaChiKH]) VALUES (N'19505491  ', N'Nguyễn Duy Hoàng An', N'0382129718', N'Gò Vấp')
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTenKH], [SoDienThoaiKH], [DiaChiKH]) VALUES (N'19506111
', N'Võ Thị Minh
 Thư', N'0389888497
', N'Q5')
GO


INSERT [dbo].[LinhKien] ([MaLinhKien], [TenLinhKien], [MoTaLinhKien], [DonGia], [LoaiLinhKien], [ThuongHieu], [SoLuongTon], [NgayNhap], [BaoHanh]) VALUES (N'LK000001  ', N'Ổ cứng HDD Seagate Backup Plus', N'Tên sản phẩm: ổ cứng HDD Seagate 1TB Backup Plus 3.0, 2.5'''' (Đỏ)
- Dung lượng: 1TB
- Kích thước: 2.5"
- Kết nối: USB 3.0', 1640000, N'HDD', N'SEAGATE', 30, CAST(N'2020-06-10' AS Date), 36)
INSERT [dbo].[LinhKien] ([MaLinhKien], [TenLinhKien], [MoTaLinhKien], [DonGia], [LoaiLinhKien], [ThuongHieu], [SoLuongTon], [NgayNhap], [BaoHanh]) VALUES (N'LK000002  ', N'Ổ cứng HDD Seagate Expansion Desktop 3TB 3.5" 3.0', N'Tên sản phẩm: ổ cứng HDD Seagate Expansion Desktop 3TB 3.5" 3.0 (STEB3000300)
- Dung lượng: 3TB
- Kích thước: 3.5"
- Kết nối: USB 3.0', 2890000, N'HDD', N'SEAGATE', 22, CAST(N'2020-01-01' AS Date), 36)
INSERT [dbo].[LinhKien] ([MaLinhKien], [TenLinhKien], [MoTaLinhKien], [DonGia], [LoaiLinhKien], [ThuongHieu], [SoLuongTon], [NgayNhap], [BaoHanh]) VALUES (N'LK000003  ', N'Tản nhiệt CPU AIO Cooler Master Masterliquid ', N'Tên sản phẩm: Tản nhiệt CPU AIO CM Masterliquid ML240P Mirage

- Tên sản phẩm: MASTERLIQUID ML240P MIRAGE
- Dạng tản nhiệt: Tản nước
- Chất liệu: Nhôm', 3840000, N'Tản nhiệt', N'Cooler Master', 20, CAST(N'2020-04-15' AS Date), 60)
GO


INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTenNV], [GioiTinhNV], [NgaySinhNV], [DiaChiNV], [SoDienThoaiNV], [MatKhau], [QuyenTruyCap]) VALUES (N'18006111  ', N'Võ Minh Thư', N'Nữ', CAST(N'2000-09-28' AS Date), N'Phú Nhuận', N'0389888497', N'123456                                            ', N'User      ')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTenNV], [GioiTinhNV], [NgaySinhNV], [DiaChiNV], [SoDienThoaiNV], [MatKhau], [QuyenTruyCap]) VALUES (N'18038455  ', N'Trương Đình Phước', N'Nam', CAST(N'2000-01-01' AS Date), N'Gò vấp', N'0395689239', N'123456                                            ', N'Admin     ')
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTenNV], [GioiTinhNV], [NgaySinhNV], [DiaChiNV], [SoDienThoaiNV], [MatKhau], [QuyenTruyCap]) VALUES (N'18055671  ', N'Nguyễn Trần Nhật Hào', N'Nam', CAST(N'2000-04-30' AS Date), N'Bình Thạnh', N'0373668360', N'123456                                            ', N'Admin     ')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChiTietHoaDon]    Script Date: 7/12/2020 8:17:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_ChiTietHoaDon] ON [dbo].[ChiTietHoaDon]
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_LinhKien] FOREIGN KEY([MaLinhKien])
REFERENCES [dbo].[LinhKien] ([MaLinhKien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_LinhKien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
USE [master]
GO
